@import "../../styles/colors.scss";

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 120;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    img {
        width: 100px;
        margin: 30px 0;
    }

    .burger {
        display: flex;
        flex-direction: column;
        width: 40px;
        height: 40px;
        justify-content: center;
        cursor: pointer;
        transition-duration: 0.25s;
        outline: 0;

        span {
            width: 100%;
            height: 4px;
            background-color: $color-green;
            transition-duration: 0.25s;
            margin: 4px 0;
        }

        &:hover {
            height: 60px;
            span {
                margin: 6px 0;
            }
        }
    }

}
.bottom-wrapper {
    position: absolute;
    bottom: 40px;

    a {
        font-size: 0.8em !important;
        font-weight: 400 !important;
    }
}

.main-header--inverse {
    background-color: transparent;
    box-shadow: unset;
    .burger {
        height: 60px;
        span {
            background-color: white;
            margin: 0;
        }
        &:hover {
            transform: scale(1.1);
            span {
                margin: 0;
            }
        }
        span:first-child {
            transform: rotateZ(-45deg);
        }
        span:nth-child(2) {
            display: none;
        }
        span:last-child {
            transform: translateY(-4px) rotateZ(45deg);
        }
    }
    img {
        transition-duration: 0.5s;
        filter: grayscale(100%) brightness(500%);
    }
}

.main-navbar {
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $color-green;
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: all;
    z-index: 100;
    
    .dash {
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: white;
        transition-duration: 0.25s;
    }
    
    a {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 1.35;
        opacity: 1;
    }

    .a--hidden {
        opacity: 0;
        height: 0;
        pointer-events: none;
    }

    .language {
        font-weight: 800;
        font-size: 1.8rem;
    }
    .language--inactive {
        font-weight: 100;
        opacity: 0.7;

        a {
            all: unset;
        }
    }
}

.main-navbar--hidden {
    opacity: 0;
    z-index: -10;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.main-navbar a:hover {
    .dash {
        width: 80px;
    }
}

@media screen and(min-width: 768px) {
    
    .main-header {
        padding: 0 65px;
    }

    
    .main-navbar {
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: $color-green;
        color: white;
        opacity: 1;
        transition: opacity 0.5s ease;
        pointer-events: all;
        z-index: 100;
        
        .dash {
            display: inline-block;
            width: 50px;
            height: 2px;
            background-color: white;
            transition-duration: 0.25s;
        }
        
        a {
            display: flex;
            align-items: center;
            font-weight: 800;
            font-size: 3rem;
            line-height: 1.5;
            opacity: 1;
        }
    
        .a--hidden {
            opacity: 0;
            height: 0;
            pointer-events: none;
        }
    
        .language {
            font-weight: 800;
            line-height: 1.5;
            font-size: 1.8rem;
        }
        .language--inactive {
            font-weight: 100;
            opacity: 0.7;
    
            a {
                all: unset;
            }

            &:hover {
                opacity: 0.9;
            }
        }
    }
    
    .main-navbar--hidden {
        opacity: 0;
        z-index: -10;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }
    
    .main-navbar a:hover {
        .dash {
            width: 80px;
        }
    }
}

@media screen and(min-width: 1280px) {
    .main-header {
        background-color: transparent;
        box-shadow: unset;
        img {
            width: 150px;
            margin: 50px 0;
        }
    }
}